<%- include('header') -%>

<br />
<% const numOfDocs = 10; %>
<ul class='toc'>
  <h2>Table of Contents</h2>
  <h2><button type="button" class='toc'><i class="fas fa-caret-square-left"></i></button></h2>
  <%  for (let i = 0; i < numOfDocs; i++) {  %>
  <li>
    <h4><a href="/lessons/<%= i + 1 %>">Lesson <%= i + 1 %></a></h4>
  </li>
  <% } %>

</ul>

<h4 class="pageno"><%= pageNo %></h4>

<br />
<h3><%= chapter %></h3>
<h3><%= lesson %></h3>

<% let x = " " %>
<% for (let i = 0; i < list.length; i++){ %>
<%  x += " " + list[i] + " "  %>
<% } %>
<h3><%= x %></h3>

<br />
<br />

<table style="width:80%">
  <tr>
  </tr>
  <% for (let i = 0; i < sentences.length; i++){ %>
  <tr>
    <td><%= speakers[i] + ' ' + ':' + ' ' + ' ' %></td>
    <td><%= sentences[i] + ' ' + ' ' %></td>
    <td><%= traditionalSentences[i] + ' ' + ' ' %></td>
    <td><%= translatedSentences[i] %></td>
  </tr>
  <% } %>
</table>

<br />
<br  />
<h3>词汇 | cíhuì | Vocabulary</h3>
<br />
<br />
<table class="borders" style="width:80%">
  <tr class="borders">
    <th class="borders">词 | cí | word</th>
    <th class="borders">拼音 | pīnyīn | pinyin </th>
    <th class="borders">含义 | hányì | meaning</th>
    <th class="borders">词性 | cíxìng | part of speech</th>
    <th class="borders">发音 | fāyīn | pronunciation</th>
  </tr>
  <%  for (let i = 0; i < word.length; i++) { %>
    <tr class="borders">
      <td class="borders"><%= word[i]  %></td>
      <td class="borders"><%= pinyin[i] %></td>
      <td class="borders"><%= meaning[i] %></td>
      <td class="borders"><%= partOfSpeech[i] %></td>
      <td class="borders"><%= pronunciation[i] %></td>
    </tr>
  <%  } %>

</table>

<br />
<br />
<h3> 语法 | yǔfǎ | Grammar</h3>
<<br>
<table class='no-borders' style="width:88%">
    <tr>
    </tr>
    <% for (let i = 0; i < grammarPoints.length; i++){ %>
    <tr>
      <td><%= grammarPoints[i] + ' ' + ' ' + ' ' %></td>

    <% } %>
  </table>

  <br />
  <h3> 演习 | yǎnxí | Exercises</h3>
  <<br>
  <table class='no-borders' style="width:88%">
      <tr>
      </tr>
      <% for (let i = 0; i < exercises.length; i++){ %>
      <tr>
        <td><%= exercises[i] + ' ' + ' ' + ' ' %></td>
      </tr>
      <% } %>
    </table>

<%- include('footer') -%>
